<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Search Stock Quote</title>
</head>
<body>

<form action="/search_result">
    <input name="keyword" type="text" placeholder="Enter stock Code" autofocus>
    <input type="submit" value="Search">
</form>
{% if not is_first_search %}
    <section>
        {% if is_success %}
            <p>{{ c_name }} $ {{ l_price }}</p>
        {% else %}
            <p>해당 주식 정보를 검색할 수 없습니다.</p>
        {% endif %}
    </section>
</body>
</html>